In [1]:
import pandas as pd
import psycopg2

In [2]:
DB_CONFIG = {
    'host': 'localhost',
    'database': 'music_database',
    'user': 'elevare-coding-camp',
    'password': '',
    'port': 5432
}

In [3]:
conn = psycopg2.connect(**DB_CONFIG)

In [4]:
cur = conn.cursor()

In [5]:
csv_file = '../data/02_cleaned_album_sales.csv'

In [6]:
df = pd.read_csv(csv_file)
df

,album_id,advertising_spend,units_sold,radio_airplay_hours,attractiveness_score,Revenue
0,1,10.26,330,43,10,4950
1,2,985.68,120,28,7,1800
2,3,1445.56,360,35,7,5400
3,4,1188.19,270,33,7,4050
4,5,574.51,220,44,5,3300
...,...,...,...,...,...,...
195,196,910.85,190,26,7,2850
196,197,888.57,240,14,6,3600
197,198,800.62,250,34,6,3750
198,199,1500.00,230,11,8,3450
199,200,785.69,110,20,9,1650

In [7]:
with open(csv_file, 'r', encoding='utf-8') as file:
    next(file)
    cur.copy_expert(
        sql="""
        COPY album_data
        (album_id, advertising_spend, units_sold, radio_airplay_hours, attractiveness_score, revenue)
        FROM STDIN WITH CSV DELIMITER ',' QUOTE '"'
        """,
        file=file
    )

conn.commit()
cur.close()
conn.close()

print("Album sales data loaded successfully!")

Album sales data loaded successfully!