In [1]:
import pandas as pd

In [2]:
import psycopg2

In [3]:
DB_CONFIG = {
    'host': 'localhost',
    'database': 'album_data',
    'user': 'elevare-coding-camp',
    'password': 'root3ls!',
    'port': 5432
}

In [5]:
db_config = DB_CONFIG

In [6]:
db_config

{'host': 'localhost',
 'database': 'album_data',
 'user': 'elevare-coding-camp',
 'password': 'root3ls!',
 'port': 5432}

In [7]:
db_config.values()

dict_values(['localhost', 'album_data', 'elevare-coding-camp', 'root3ls!', 5432])

In [8]:
conn = psycopg2.connect(**DB_CONFIG)

In [9]:
conn

In [12]:
cur = conn.cursor()

In [13]:
cur

In [10]:
csv_file = 'album_sales_latest_v1.csv'
csv_file

'album_sales_latest_v1.csv'

In [11]:
df = pd.read_csv(csv_file)
df

     row_id  advertising_spend  sales  airplay  artist_attractiveness
0         1             10.256    330       43                     10
1         2            985.685    120       28                      7
2         3           1445.563    360       35                      7
3         4           1188.193    270       33                      7
4         5            574.513    220       44                      5
..      ...                ...    ...      ...                    ...
195     196            910.851    190       26                      7
196     197            888.569    240       14                      6
197     198            800.615    250       34                      6
198     199           1500.000    230       11                      8
199     200            785.694    110       20                      9

[200 rows x 5 columns]

In [14]:
with open(csv_file, 'r', encoding='utf-8') as file:
    next(file)  # Skip header row
    cur.copy_expert(
        sql="""
        COPY album_sales_new
        (row_id, adverts, sales, airplay, attract)
        FROM STDIN WITH CSV DELIMITER ',' QUOTE '"'
        """,
        file=file
    )

conn.commit()
cur.close()
conn.close()

print("Album sales data loaded successfully!")

Album sales data loaded successfully!