In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
connection_string = "postgresql://elevare-coding-camp:@localhost:5432/music_database"

In [6]:
engine = create_engine(connection_string)

In [9]:
query = """
SELECT album_id, advertising_spend, units_sold, radio_airplay_hours, attractiveness_score, revenue
FROM album_data
LIMIT 10
"""

In [10]:
df_results = pd.read_sql_query(query, engine)

In [11]:
print(f"Found {len(df_results)} high-revenue albums")

Found 10 high-revenue albums

In [12]:
df_results

,album_id,advertising_spend,units_sold,radio_airplay_hours,attractiveness_score,revenue
0,1,10.26,330,43,10,4950
1,2,985.68,120,28,7,1800
2,3,1445.56,360,35,7,5400
3,4,1188.19,270,33,7,4050
4,5,574.51,220,44,5,3300
5,6,568.95,170,19,5,2550
6,7,471.81,70,20,1,1050
7,8,537.35,210,22,9,3150
8,9,514.07,200,21,7,3000
9,10,174.09,300,40,7,4500